<% include header %> 

<form class='a' action="">
      User Name:<br>
      <input type="text" name="Name" pattern="[A-Za-z]{1, }" required><br>
      Email ID:<br>
      <input type="email" name="email" required><br>
      Phone Number:<br>
      <input type="tel" name="Phone Number" pattern="^\d{10}$" required><br>
      Feed Back:<br>
      <textarea name="message" rows="3" cols="30" ></textarea><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Cancel">
  </form>
  <a class='c' href="https://github.com/Rakesh217" target="blank"><i class="fa fa-github" style="font-size:30px;color:black" id="git"><br>github</i></a>
  <a class='c' href="https://bitbucket.org/Rakesh217/" target="blank"><i class="fa fa-bitbucket" style="font-size:30px;color:black" id="bit"><br>bitbucket</i></a>
  <a class='c' href="https://www.linkedin.com/in/rakesh-avirineni-932008172/" target="blank"><i class="fa fa-linkedin" style="font-size:30px;color:black" id="link"><br>linkedin</i></a>
  <% include footer %>