<% include header %> 
 <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <article id="article">

            <h2>Rakesh Avirineni</h2>
            
            <section class="pre">
            <h3 class="section-header">EDUCATION</h3>
            <p class="pre">I am perusing my master's in <em>Applied Computer Science</em> fall 2018 batch.</p>
            </section>
            
            <section id="past-section">
            <h3 class="section-header">SKILLS</h3>
            <p class="back">I am <strong>Puntual</strong>. I am a workoholic. I am very good at handling stress.</p>
            </section>
            
            <section  id="future-section">
            <h3 class="section-header">INTERESTS</h3>
            <p class="fp">I am very much interested in designing and development. I hope to achieve the <b>knowledge</b> required for my  future.</p>
            </section>
            
            <section class="pre">
            <h3 class="section-header">CONTACT INFORMATION</h3>
              <ul>
                <li class="pre">NAME:</li>
                <li class="pre">AVIRINENI RAKESH</li>
                 
                <li class="pre">Ph.No:</li>
                <li class="pre">+16605280368</li>
                
                <li class="pre">E-mail</li>
                <li class="pre">S533487@NWMISSOURI.EDU</li>
                
            </ul>
            </section>
            
            </article>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/5v2DP3HPEXQ" allow="autoplay; encrypted-media" allowfullscreen id="video"></iframe>
      </div>
      <div class="col-md-4">
          <img src="Images/pic.jpg" class="img-circle" id="img" alt="rakesh">
      </div>
      <hr>
      <div class="col-md-12">
        <footer>
          <p>&copy; NWMSU Web Apps 2016-2018</p>
        </footer>
      </div>
    </div>
  </div>
  <!-- /container -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% include footer %>