li:nth-child(even)
{
list-style-type:none
}
body {background-image: url("/Images/Baloon.jpg")}

.section-header{
color:#66ff99;
padding:20px;
font-family:verdana;
}
#article
{
font-family:verdana;
color: #ff9966;
font-size:16px;
text-align:justify;
}
#past-section
{
    text-align: left;
}
.pre
{
   text-align: left;
}
#future-section
{
    text-align: left;
}
#img{
    height: 400px;
    width: 300px;
}
#video{
    margin-left: 20%;
}
#footer
{
font-family:verdana;
color: blue;
font-size:16px;
text-align: center;
padding:20px;
}
.aside-header
{
color:white;
padding:20px;
font-family: verdana;
}



.b{
    font-family: times-roman;
    background-image: url("zod.jpg");
    background-repeat: no-repeat;
    background-size: 500%; 
    text-align: center;
  }
  
  form{
    align-content: center;
  }
  #post{
    align-items: center;
    color: whitesmoke;
  }
  
  h1{
    color: rgb(175, 202, 226);
  }
  
  h2{
    color: beige;
  }
  
  #Date{
   align-content: center;
  }
  
  h3{
    color: antiquewhite;
  }
  
  #month{
   width:100px;
   height:50px;
  }
  
  select{
    width:100px;
   height:50px;
  }
  
  #zodiac{
    font-size: 100%;
    border: 20px;
    width:100px;
   height:50px;
  }
  .a{
    background-image: url("contact.jpeg");
    text-align: center;
    color:white;
}
.c{
    margin-left:500px;
}

footer{
    color: #66ff99;
}